{% extends 'pages/base.html' %}

{% block title %}Contact - Online Store{% endblock %}

{% block header_title %}Contact Us{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6 text-center">

    <p class="lead mb-4">
      You can contact us using the information below.
    </p>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Email:</strong> contact@onlinestore.fake
      </li>
      <li class="list-group-item">
        <strong>Phone:</strong> +1 (555) 123-4567
      </li>
      <li class="list-group-item">
        <strong>Address:</strong> 123 Fake Street, Springfield, USA
      </li>
    </ul>

  </div>
</div>
{% endblock %}
